header{
    background-color: #34393f;
}

#ticket {
    color: green;
}

.texto {
    width: 35%;
    background-color: transparent;
    color: white;
    text-align: right;
    position: relative;
    bottom: 25rem;
    float: right;
    right: 3rem;
}

.imgs {
    filter: brightness(50%);
}

.titulo {
    text-align: center;
    justify-content: center;
}

.orR {
    margin: 1.5rem;
}

.orR .card {
    margin: 0 2rem;
}

.card img {
    width: 100%;
    height: 20rem;
}

#hon {
    background-color: #343940;
}

input {
    width: 25%;
}

#tema {
    width: 50%;
    display: inline-block;
}

form label {
    display: block;
    font-size: 0.7rem;
}

#enviar {
    width: 50%;
    display: inline-block;
    background-color: #96c93e;
    color: white;
    border: 0;
    border-radius: 5px;
}

footer {
    background: linear-gradient(to right, #1a3843, #1e5271);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

@media (max-width: 770px) {
    .texto {
        width: 70%;
    }
    #imgR {
        height: 100%;
    }
    .orR {
        width: 100%;
        margin: 0;
    }
    .titulo {
        justify-content: center;
    }
}

@media (max-width: 690px) {
    .texto {
        width: 100%;
        left: 0.2rem;
        bottom: 18rem;
    }
    .texto button {
        margin-right: 1rem;
    }
    .orR {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .texto {
        top: 0.1rem;
        color: black;
    }
    .texto button {
        color: black;
    }
}